* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
body {
    padding: 25px 50px;
    background: #444;
    color: #fff;
    font-size: 1.6em;
    font-weight: 500;
}
header {
    width: 100%;
    height: 500px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 2px solid #fff;
    background: url('../assets/images/header.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Tiny5', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 150px;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 7px #333;
}
    header > p {
        color: #0f0;
        margin-top: -25px;
        background: rgba(255, 255, 255, .33);
    }
section {
        width: 100%;
        min-height: 300px;
        padding: 100px 50px;
        border: 3px solid #000;
    }
 #aboutSection {
    background: #222;
    padding: 100px 50px;
    color: #fff;
    font-size: 1.2em;
 }
    .fancyHeading {
        font-family: 'Tiny5', sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 20px;
        text-decoration: underline;
    }
 #CareerGoal {
    background: #aaa;
    color: #333;
    font-size: 1.2em;
    padding-left: 100px;
 }
 #WorkSample {
    background: #777;
    color: #333;
    text-align: center;
 }
    .thumbnail {
        width: 20%;
        bottom: 2px solid #777;
        border-radius: 4px;
        box-shadow: 2x 3px 5px #222;
        margin: 0px 15px;
    }
 #Contact {
    background: #222;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 1.2em;
 } 
    #Contact > a:link {
        color: #fff;
    } 
 footer {
    text-align: right;
    padding-right: 50px;
    padding-top: 10px;
    color: #fff;
    font-size: .9em;
 }
